section{
    padding:1rem 3%;
    
}
/* .booking{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
} */
.booking{
    margin-top: 5rem;
   
}
.heading-title{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    color:var(--white);
    text-shadow: var(--shadow);
}
.booking .book-form{
    
   padding:1rem;
   background: var(--color-3);
   box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 30%);
   border-radius: 5px;
}

.booking .book-form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:0.8rem;
}

.booking .book-form .flex .inputBox{
   flex:1 1 35rem;
}

.booking .book-form .flex .inputBox input{
   width: 80%;
   padding:0.6rem 1rem;
   font-size: 1rem;
   color:var(--color-5);
   text-transform: none;
   margin-top: 0.8rem;
  
   outline: none;
   border: none;
   border-bottom:3px solid var(--color-1);
}

.booking .book-form .flex .inputBox input:focus{
   background: var(--color-3);
   color:var(--white);
}

.booking .book-form .flex .inputBox input:focus::placeholder{
   color:var(--white);
}

.booking .book-form .flex .inputBox span{
   font-size: 1rem;
   color:var(--white);
   display: block;
}

.booking .book-form .btn{
   margin-top: 1.8rem;
}



.btn{
    font-size: 1.4rem;
    background: var(--color-3);
    color: var(--white);
    padding: 0.8rem 2rem;
    margin-top: 1.5rem ;
    border-radius:var(--border-radius) ;
    box-shadow: 0 5px 1px rgba(15, 15, 15);
    transform: .3s ease;
    cursor: pointer;
}
.btn:hover{
    background: var(--color-2);
    font-size: 1.6rem;
}

